@page
@model QuizManager.Pages.Quizzes.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Quiz[0].QuizName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Quiz) {
        <tr class="quizItem">
            <td class="quizName">
                @Html.DisplayFor(modelItem => item.QuizName)
            </td>
            <td>
                <a asp-page="/Questions/Create" class="newQuestion">Add Question</a> |
                <a asp-page="./Edit" asp-route-id="@item.QuizID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.QuizID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.QuizID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<script>
    quizItem = [...document.querySelectorAll(".newQuestion")]
    quizItem.forEach(item => { 
        item.addEventListener("click", (e) => {
            parentTarget = e.target.parentNode.parentNode;
            quizName = parentTarget.querySelector(".quizName").innerHTML;
            quizName = quizName.trim();
            sessionStorage.setItem("quizName", quizName);
        })
    })

</script>