@page
@model QuizManager.Pages.Quizzes.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Quizzes</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Quiz[0].QuizName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Quiz) {
        <tr class="quizItem">
            <td class="quizName">
                @Html.DisplayFor(modelItem => item.QuizName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.QuizId" class="res">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.QuizId" class="res">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.QuizId" class="res" style="color: red">Delete</a> 
            </td>
        </tr>
}
    </tbody>
</table>
<script>
    buttons = document.querySelectorAll(".res");
    buttons.forEach(button => {
        button.addEventListener("click",(e) => {
            rights = localStorage.getItem("rights");
            if (rights != "admin" && rights != "user") {
                e.preventDefault();
                alert("You do not have the correct access for this.");
            }
        })

    })
</script>